{% extends "layout.html" %}

{% block content %}

<div class="container my-5 d-flex flex-wrap">
    {%if emp %}
    <div class="card m-2" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">Name : {{ emp.name }}</h5>
        <p class="card-text">Contact: {{ emp.email }}</p>
        <p class="card-text">Contact: {{ emp.contact }}</p>
        <small class="card-text">Created at : {{ emp.created|timesince }} ago</small> <br>
        <small class="card-text">views: {{ emp.views }}</small>
      </div>
    </div>
    {% else %}
    <p>No employee</p>
    {% endif %}
</div>

{% endblock content %}